<div class="controls">
	<form [formGroup]="form">
		<mat-form-field
			><mat-label>{{ label }}</mat-label
			><input matInput formControlName="amount" type="text" value="0" (click)="onInputClicked($event)"
		/></mat-form-field>
		<mat-form-field>
			<mat-select formControlName="currency">
				@for (currency of currencies; track currency.id) {
					<mat-option [value]="currency.short_code"
						>{{ currency.symbol }}&nbsp;&nbsp;{{ currency.short_code }}</mat-option
					>
				}
			</mat-select>
		</mat-form-field>
	</form>
</div>
<!-- TODO: images -->
<!-- <img
						src="https://www.xe.com/static-images/ron.static.5191563aa4ed0531b4eabc8985f42a09.svg"
						height="15px"
					/> -->
