<div class="widget">
	@if (availableCurrencies | async; as availableCurrencies) {
		<form [formGroup]="form">
			<div formGroupName="1" class="form-group">
				<mat-form-field
					><mat-label>From:</mat-label
					><input matInput formControlName="amount" type="text" value="0" (click)="onInputClicked($event)"
				/></mat-form-field>
				<mat-form-field>
					<mat-select formControlName="currency">
						@for (currency of availableCurrencies; track currency.id) {
							<mat-option [value]="currency.short_code"
								>{{ currency.symbol }}&nbsp;&nbsp;{{ currency.short_code }}</mat-option
							>
						}
					</mat-select>
				</mat-form-field>
			</div>

			<mat-icon color="primary" class="compare_icon">compare_arrows</mat-icon>

			<div formGroupName="2" class="form-group">
				<mat-form-field
					><mat-label>To:</mat-label
					><input matInput formControlName="amount" type="text" value="0" (click)="onInputClicked($event)"
				/></mat-form-field>
				<mat-form-field>
					<mat-select formControlName="currency">
						@for (currency of availableCurrencies; track currency.id) {
							<mat-option [value]="currency.short_code"
								>{{ currency.symbol }}&nbsp;&nbsp;{{ currency.short_code }}</mat-option
							>
						}
					</mat-select>
				</mat-form-field>
			</div>
		</form>
	}
</div>
